<a href="https://colab.research.google.com/github/edmand88/marketing-responses/blob/main/marketingresponse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files

uploaded = files.upload()

Saving campaign_responses.csv to campaign_responses.csv

In [ ]:
import pandas as pd
import io

df = pd.read_csv(io.BytesIO(uploaded['campaign_responses.csv']))
print(df)

    customer_id  age  gender  annual_income  credit_score employed  \
0             1   35    Male          65000           720      Yes
1             2   28  Female          45000           680       No
2             3   42    Male          85000           750      Yes
3             4   31  Female          55000           710      Yes
4             5   47    Male          95000           790      Yes
5             6   25  Female          38000           630       No
6             7   39    Male          72000           740      Yes
7             8   33  Female          48000           670      Yes
8             9   51    Male         110000           820      Yes
9            10   27  Female          40000           620       No
10           11   44    Male          90000           780      Yes
11           12   30  Female          52000           690      Yes
12           13   36    Male          75000           730      Yes
13           14   29  Female          45000           660       No
14           15   49    Male         105000           800      Yes
15           16   26  Female          36000           610       No
16           17   41    Male          85000           760      Yes
17           18   32  Female          54000           700      Yes
18           19   37    Male          80000           740      Yes
19           20   34  Female          60000           720      Yes
20           21   43    Male          92000           770      Yes
21           22   28  Female          42000           640       No
22           23   38    Male          78000           750      Yes
23           24   31  Female          48000           680      Yes
24           25   45    Male          98000           790      Yes
25           26   27  Female          40000           630       No
26           27   40    Male          85000           760      Yes
27           28   35  Female          62000           710      Yes
28           29   46    Male         100000           800      Yes
29           30   29  Female          44000           650       No
30           31   42    Male          90000           780      Yes
31           32   33  Female          56000           690      Yes
32           33   39    Male          82000           750      Yes
33           34   30  Female          50000           670      Yes
34           35   48    Male         105000           810      Yes
35           36   25  Female          35000           600       No
36           37   41    Male          88000           770      Yes
37           38   34  Female          58000           700      Yes
38           39   43    Male          95000           780      Yes
39           40   28  Female          43000           640       No
40           41   37    Male          80000           750      Yes
41           42   32  Female          52000           680      Yes
42           43   45    Male         100000           800      Yes
43           44   30  Female          46000           660       No
44           45   40    Male          88000           770      Yes
45           46   36  Female          64000           720      Yes
46           47   47    Male         102000           790      Yes
47           48   26  Female          38000           620       No
48           49   42    Male          90000           760      Yes
49           50   33  Female          54000           690      Yes
50           51   39    Male          85000           750      Yes
51           52   31  Female          50000           680      Yes
52           53   46    Male          98000           800      Yes
53           54   28  Female          42000           630       No
54           55   41    Male          90000           770      Yes
55           56   34  Female          60000           710      Yes

   marital_status  no_of_children responded
0         Married               2       Yes
1          Single               0        No
2         Married               3       Yes
3          Single               1        No
4         Married               2       Yes
5          Single               0        No
6         Married               2       Yes
7          Single               0        No
8         Married               3       Yes
9          Single               0        No
10        Married               2       Yes
11         Single               0        No
12        Married               1       Yes
13         Single               0        No
14        Married               3       Yes
15         Single               0        No
16        Married               2       Yes
17         Single               0        No
18        Married               2       Yes
19         Single               1        No
20        Married               3       Yes
21         Single               0        No
22        Married               2       Yes
23         Single               0        No
24        Married               3       Yes
25         Single               0        No
26        Married               2       Yes
27         Single               1        No
28        Married               3       Yes
29         Single               0        No
30        Married               2       Yes
31         Single               0        No
32        Married               2       Yes
33         Single               0        No
34        Married               3       Yes
35         Single               0        No
36        Married               2       Yes
37         Single               1        No
38        Married               3       Yes
39         Single               0        No
40        Married               2       Yes
41         Single               0        No
42        Married               3       Yes
43         Single               0        No
44        Married               2       Yes
45         Single               1        No
46        Married               3       Yes
47         Single               0        No
48        Married               2       Yes
49         Single               0        No
50        Married               2       Yes
51         Single               0        No
52        Married               3       Yes
53         Single               0        No
54        Married               2       Yes
55         Single               1        No

In [ ]:
df = df.drop('customer_id', axis=1)
print(df)

    age  gender  annual_income  credit_score employed marital_status  \
0    35    Male          65000           720      Yes        Married
1    28  Female          45000           680       No         Single
2    42    Male          85000           750      Yes        Married
3    31  Female          55000           710      Yes         Single
4    47    Male          95000           790      Yes        Married
5    25  Female          38000           630       No         Single
6    39    Male          72000           740      Yes        Married
7    33  Female          48000           670      Yes         Single
8    51    Male         110000           820      Yes        Married
9    27  Female          40000           620       No         Single
10   44    Male          90000           780      Yes        Married
11   30  Female          52000           690      Yes         Single
12   36    Male          75000           730      Yes        Married
13   29  Female          45000           660       No         Single
14   49    Male         105000           800      Yes        Married
15   26  Female          36000           610       No         Single
16   41    Male          85000           760      Yes        Married
17   32  Female          54000           700      Yes         Single
18   37    Male          80000           740      Yes        Married
19   34  Female          60000           720      Yes         Single
20   43    Male          92000           770      Yes        Married
21   28  Female          42000           640       No         Single
22   38    Male          78000           750      Yes        Married
23   31  Female          48000           680      Yes         Single
24   45    Male          98000           790      Yes        Married
25   27  Female          40000           630       No         Single
26   40    Male          85000           760      Yes        Married
27   35  Female          62000           710      Yes         Single
28   46    Male         100000           800      Yes        Married
29   29  Female          44000           650       No         Single
30   42    Male          90000           780      Yes        Married
31   33  Female          56000           690      Yes         Single
32   39    Male          82000           750      Yes        Married
33   30  Female          50000           670      Yes         Single
34   48    Male         105000           810      Yes        Married
35   25  Female          35000           600       No         Single
36   41    Male          88000           770      Yes        Married
37   34  Female          58000           700      Yes         Single
38   43    Male          95000           780      Yes        Married
39   28  Female          43000           640       No         Single
40   37    Male          80000           750      Yes        Married
41   32  Female          52000           680      Yes         Single
42   45    Male         100000           800      Yes        Married
43   30  Female          46000           660       No         Single
44   40    Male          88000           770      Yes        Married
45   36  Female          64000           720      Yes         Single
46   47    Male         102000           790      Yes        Married
47   26  Female          38000           620       No         Single
48   42    Male          90000           760      Yes        Married
49   33  Female          54000           690      Yes         Single
50   39    Male          85000           750      Yes        Married
51   31  Female          50000           680      Yes         Single
52   46    Male          98000           800      Yes        Married
53   28  Female          42000           630       No         Single
54   41    Male          90000           770      Yes        Married
55   34  Female          60000           710      Yes         Single

    no_of_children responded
0                2       Yes
1                0        No
2                3       Yes
3                1        No
4                2       Yes
5                0        No
6                2       Yes
7                0        No
8                3       Yes
9                0        No
10               2       Yes
11               0        No
12               1       Yes
13               0        No
14               3       Yes
15               0        No
16               2       Yes
17               0        No
18               2       Yes
19               1        No
20               3       Yes
21               0        No
22               2       Yes
23               0        No
24               3       Yes
25               0        No
26               2       Yes
27               1        No
28               3       Yes
29               0        No
30               2       Yes
31               0        No
32               2       Yes
33               0        No
34               3       Yes
35               0        No
36               2       Yes
37               1        No
38               3       Yes
39               0        No
40               2       Yes
41               0        No
42               3       Yes
43               0        No
44               2       Yes
45               1        No
46               3       Yes
47               0        No
48               2       Yes
49               0        No
50               2       Yes
51               0        No
52               3       Yes
53               0        No
54               2       Yes
55               1        No

In [ ]:
df['gender'] = df['gender'].map({'Male': 1, 'Female': 0})
print(df)

    age  gender  annual_income  credit_score employed marital_status  \
0    35       1          65000           720      Yes        Married
1    28       0          45000           680       No         Single
2    42       1          85000           750      Yes        Married
3    31       0          55000           710      Yes         Single
4    47       1          95000           790      Yes        Married
5    25       0          38000           630       No         Single
6    39       1          72000           740      Yes        Married
7    33       0          48000           670      Yes         Single
8    51       1         110000           820      Yes        Married
9    27       0          40000           620       No         Single
10   44       1          90000           780      Yes        Married
11   30       0          52000           690      Yes         Single
12   36       1          75000           730      Yes        Married
13   29       0          45000           660       No         Single
14   49       1         105000           800      Yes        Married
15   26       0          36000           610       No         Single
16   41       1          85000           760      Yes        Married
17   32       0          54000           700      Yes         Single
18   37       1          80000           740      Yes        Married
19   34       0          60000           720      Yes         Single
20   43       1          92000           770      Yes        Married
21   28       0          42000           640       No         Single
22   38       1          78000           750      Yes        Married
23   31       0          48000           680      Yes         Single
24   45       1          98000           790      Yes        Married
25   27       0          40000           630       No         Single
26   40       1          85000           760      Yes        Married
27   35       0          62000           710      Yes         Single
28   46       1         100000           800      Yes        Married
29   29       0          44000           650       No         Single
30   42       1          90000           780      Yes        Married
31   33       0          56000           690      Yes         Single
32   39       1          82000           750      Yes        Married
33   30       0          50000           670      Yes         Single
34   48       1         105000           810      Yes        Married
35   25       0          35000           600       No         Single
36   41       1          88000           770      Yes        Married
37   34       0          58000           700      Yes         Single
38   43       1          95000           780      Yes        Married
39   28       0          43000           640       No         Single
40   37       1          80000           750      Yes        Married
41   32       0          52000           680      Yes         Single
42   45       1         100000           800      Yes        Married
43   30       0          46000           660       No         Single
44   40       1          88000           770      Yes        Married
45   36       0          64000           720      Yes         Single
46   47       1         102000           790      Yes        Married
47   26       0          38000           620       No         Single
48   42       1          90000           760      Yes        Married
49   33       0          54000           690      Yes         Single
50   39       1          85000           750      Yes        Married
51   31       0          50000           680      Yes         Single
52   46       1          98000           800      Yes        Married
53   28       0          42000           630       No         Single
54   41       1          90000           770      Yes        Married
55   34       0          60000           710      Yes         Single

    no_of_children responded
0                2       Yes
1                0        No
2                3       Yes
3                1        No
4                2       Yes
5                0        No
6                2       Yes
7                0        No
8                3       Yes
9                0        No
10               2       Yes
11               0        No
12               1       Yes
13               0        No
14               3       Yes
15               0        No
16               2       Yes
17               0        No
18               2       Yes
19               1        No
20               3       Yes
21               0        No
22               2       Yes
23               0        No
24               3       Yes
25               0        No
26               2       Yes
27               1        No
28               3       Yes
29               0        No
30               2       Yes
31               0        No
32               2       Yes
33               0        No
34               3       Yes
35               0        No
36               2       Yes
37               1        No
38               3       Yes
39               0        No
40               2       Yes
41               0        No
42               3       Yes
43               0        No
44               2       Yes
45               1        No
46               3       Yes
47               0        No
48               2       Yes
49               0        No
50               2       Yes
51               0        No
52               3       Yes
53               0        No
54               2       Yes
55               1        No

In [ ]:
df['employed'] = df['employed'].map({'Yes': 1, 'No': 0})
print(df)

    age  gender  annual_income  credit_score  employed marital_status  \
0    35       1          65000           720         1        Married
1    28       0          45000           680         0         Single
2    42       1          85000           750         1        Married
3    31       0          55000           710         1         Single
4    47       1          95000           790         1        Married
5    25       0          38000           630         0         Single
6    39       1          72000           740         1        Married
7    33       0          48000           670         1         Single
8    51       1         110000           820         1        Married
9    27       0          40000           620         0         Single
10   44       1          90000           780         1        Married
11   30       0          52000           690         1         Single
12   36       1          75000           730         1        Married
13   29       0          45000           660         0         Single
14   49       1         105000           800         1        Married
15   26       0          36000           610         0         Single
16   41       1          85000           760         1        Married
17   32       0          54000           700         1         Single
18   37       1          80000           740         1        Married
19   34       0          60000           720         1         Single
20   43       1          92000           770         1        Married
21   28       0          42000           640         0         Single
22   38       1          78000           750         1        Married
23   31       0          48000           680         1         Single
24   45       1          98000           790         1        Married
25   27       0          40000           630         0         Single
26   40       1          85000           760         1        Married
27   35       0          62000           710         1         Single
28   46       1         100000           800         1        Married
29   29       0          44000           650         0         Single
30   42       1          90000           780         1        Married
31   33       0          56000           690         1         Single
32   39       1          82000           750         1        Married
33   30       0          50000           670         1         Single
34   48       1         105000           810         1        Married
35   25       0          35000           600         0         Single
36   41       1          88000           770         1        Married
37   34       0          58000           700         1         Single
38   43       1          95000           780         1        Married
39   28       0          43000           640         0         Single
40   37       1          80000           750         1        Married
41   32       0          52000           680         1         Single
42   45       1         100000           800         1        Married
43   30       0          46000           660         0         Single
44   40       1          88000           770         1        Married
45   36       0          64000           720         1         Single
46   47       1         102000           790         1        Married
47   26       0          38000           620         0         Single
48   42       1          90000           760         1        Married
49   33       0          54000           690         1         Single
50   39       1          85000           750         1        Married
51   31       0          50000           680         1         Single
52   46       1          98000           800         1        Married
53   28       0          42000           630         0         Single
54   41       1          90000           770         1        Married
55   34       0          60000           710         1         Single

    no_of_children responded
0                2       Yes
1                0        No
2                3       Yes
3                1        No
4                2       Yes
5                0        No
6                2       Yes
7                0        No
8                3       Yes
9                0        No
10               2       Yes
11               0        No
12               1       Yes
13               0        No
14               3       Yes
15               0        No
16               2       Yes
17               0        No
18               2       Yes
19               1        No
20               3       Yes
21               0        No
22               2       Yes
23               0        No
24               3       Yes
25               0        No
26               2       Yes
27               1        No
28               3       Yes
29               0        No
30               2       Yes
31               0        No
32               2       Yes
33               0        No
34               3       Yes
35               0        No
36               2       Yes
37               1        No
38               3       Yes
39               0        No
40               2       Yes
41               0        No
42               3       Yes
43               0        No
44               2       Yes
45               1        No
46               3       Yes
47               0        No
48               2       Yes
49               0        No
50               2       Yes
51               0        No
52               3       Yes
53               0        No
54               2       Yes
55               1        No

In [ ]:
df['marital_status'] = df['marital_status'].map({'Married': 1, 'Single': 0})
print(df)

    age  gender  annual_income  credit_score  employed  marital_status  \
0    35       1          65000           720         1               1
1    28       0          45000           680         0               0
2    42       1          85000           750         1               1
3    31       0          55000           710         1               0
4    47       1          95000           790         1               1
5    25       0          38000           630         0               0
6    39       1          72000           740         1               1
7    33       0          48000           670         1               0
8    51       1         110000           820         1               1
9    27       0          40000           620         0               0
10   44       1          90000           780         1               1
11   30       0          52000           690         1               0
12   36       1          75000           730         1               1
13   29       0          45000           660         0               0
14   49       1         105000           800         1               1
15   26       0          36000           610         0               0
16   41       1          85000           760         1               1
17   32       0          54000           700         1               0
18   37       1          80000           740         1               1
19   34       0          60000           720         1               0
20   43       1          92000           770         1               1
21   28       0          42000           640         0               0
22   38       1          78000           750         1               1
23   31       0          48000           680         1               0
24   45       1          98000           790         1               1
25   27       0          40000           630         0               0
26   40       1          85000           760         1               1
27   35       0          62000           710         1               0
28   46       1         100000           800         1               1
29   29       0          44000           650         0               0
30   42       1          90000           780         1               1
31   33       0          56000           690         1               0
32   39       1          82000           750         1               1
33   30       0          50000           670         1               0
34   48       1         105000           810         1               1
35   25       0          35000           600         0               0
36   41       1          88000           770         1               1
37   34       0          58000           700         1               0
38   43       1          95000           780         1               1
39   28       0          43000           640         0               0
40   37       1          80000           750         1               1
41   32       0          52000           680         1               0
42   45       1         100000           800         1               1
43   30       0          46000           660         0               0
44   40       1          88000           770         1               1
45   36       0          64000           720         1               0
46   47       1         102000           790         1               1
47   26       0          38000           620         0               0
48   42       1          90000           760         1               1
49   33       0          54000           690         1               0
50   39       1          85000           750         1               1
51   31       0          50000           680         1               0
52   46       1          98000           800         1               1
53   28       0          42000           630         0               0
54   41       1          90000           770         1               1
55   34       0          60000           710         1               0

    no_of_children responded
0                2       Yes
1                0        No
2                3       Yes
3                1        No
4                2       Yes
5                0        No
6                2       Yes
7                0        No
8                3       Yes
9                0        No
10               2       Yes
11               0        No
12               1       Yes
13               0        No
14               3       Yes
15               0        No
16               2       Yes
17               0        No
18               2       Yes
19               1        No
20               3       Yes
21               0        No
22               2       Yes
23               0        No
24               3       Yes
25               0        No
26               2       Yes
27               1        No
28               3       Yes
29               0        No
30               2       Yes
31               0        No
32               2       Yes
33               0        No
34               3       Yes
35               0        No
36               2       Yes
37               1        No
38               3       Yes
39               0        No
40               2       Yes
41               0        No
42               3       Yes
43               0        No
44               2       Yes
45               1        No
46               3       Yes
47               0        No
48               2       Yes
49               0        No
50               2       Yes
51               0        No
52               3       Yes
53               0        No
54               2       Yes
55               1        No

In [ ]:
df['responded'] = df['responded'].map({'Yes': 1, 'No': 0})
print(df)

    age  gender  annual_income  credit_score  employed  marital_status  \
0    35       1          65000           720         1               1
1    28       0          45000           680         0               0
2    42       1          85000           750         1               1
3    31       0          55000           710         1               0
4    47       1          95000           790         1               1
5    25       0          38000           630         0               0
6    39       1          72000           740         1               1
7    33       0          48000           670         1               0
8    51       1         110000           820         1               1
9    27       0          40000           620         0               0
10   44       1          90000           780         1               1
11   30       0          52000           690         1               0
12   36       1          75000           730         1               1
13   29       0          45000           660         0               0
14   49       1         105000           800         1               1
15   26       0          36000           610         0               0
16   41       1          85000           760         1               1
17   32       0          54000           700         1               0
18   37       1          80000           740         1               1
19   34       0          60000           720         1               0
20   43       1          92000           770         1               1
21   28       0          42000           640         0               0
22   38       1          78000           750         1               1
23   31       0          48000           680         1               0
24   45       1          98000           790         1               1
25   27       0          40000           630         0               0
26   40       1          85000           760         1               1
27   35       0          62000           710         1               0
28   46       1         100000           800         1               1
29   29       0          44000           650         0               0
30   42       1          90000           780         1               1
31   33       0          56000           690         1               0
32   39       1          82000           750         1               1
33   30       0          50000           670         1               0
34   48       1         105000           810         1               1
35   25       0          35000           600         0               0
36   41       1          88000           770         1               1
37   34       0          58000           700         1               0
38   43       1          95000           780         1               1
39   28       0          43000           640         0               0
40   37       1          80000           750         1               1
41   32       0          52000           680         1               0
42   45       1         100000           800         1               1
43   30       0          46000           660         0               0
44   40       1          88000           770         1               1
45   36       0          64000           720         1               0
46   47       1         102000           790         1               1
47   26       0          38000           620         0               0
48   42       1          90000           760         1               1
49   33       0          54000           690         1               0
50   39       1          85000           750         1               1
51   31       0          50000           680         1               0
52   46       1          98000           800         1               1
53   28       0          42000           630         0               0
54   41       1          90000           770         1               1
55   34       0          60000           710         1               0

    no_of_children  responded
0                2          1
1                0          0
2                3          1
3                1          0
4                2          1
5                0          0
6                2          1
7                0          0
8                3          1
9                0          0
10               2          1
11               0          0
12               1          1
13               0          0
14               3          1
15               0          0
16               2          1
17               0          0
18               2          1
19               1          0
20               3          1
21               0          0
22               2          1
23               0          0
24               3          1
25               0          0
26               2          1
27               1          0
28               3          1
29               0          0
30               2          1
31               0          0
32               2          1
33               0          0
34               3          1
35               0          0
36               2          1
37               1          0
38               3          1
39               0          0
40               2          1
41               0          0
42               3          1
43               0          0
44               2          1
45               1          0
46               3          1
47               0          0
48               2          1
49               0          0
50               2          1
51               0          0
52               3          1
53               0          0
54               2          1
55               1          0

In [ ]:
from sklearn.model_selection import train_test_split

X = df.drop('responded', axis=1)
y = df['responded']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=13, stratify=y, random_state=42)

print("X_train size:", len(X_train))
print("y_train size:", len(y_train))
print("X_test size:", len(X_test))
print("y_test size:", len(y_test))

X_train size: 43
y_train size: 43
X_test size: 13
y_test size: 13

In [ ]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.preprocessing import StandardScaler

# 1. Standardize the features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# 2. Build the neural network model
model = Sequential()
model.add(Dense(12, input_dim=X_train_scaled.shape[1], activation='relu'))  # Input layer with 12 nodes
model.add(Dense(8, activation='relu'))  # Hidden layer with 8 nodes
model.add(Dense(1, activation='sigmoid'))  # Output layer with 1 node (binary classification)

# 3. Compile the model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

# 4. Train the model
model.fit(X_train_scaled, y_train, epochs=50, batch_size=10, validation_split=0.2)

# 5. Evaluate the model on the test data
loss, accuracy = model.evaluate(X_test_scaled, y_test)
print(f"Test Loss: {loss}, Test Accuracy: {accuracy}")

Epoch 1/50
4/4 [==============================] - 2s 103ms/step - loss: 0.6345 - accuracy: 0.7353 - val_loss: 0.5378 - val_accuracy: 1.0000
Epoch 2/50
4/4 [==============================] - 0s 24ms/step - loss: 0.6207 - accuracy: 0.7941 - val_loss: 0.5265 - val_accuracy: 1.0000
Epoch 3/50
4/4 [==============================] - 0s 22ms/step - loss: 0.6072 - accuracy: 0.8235 - val_loss: 0.5152 - val_accuracy: 1.0000
Epoch 4/50
4/4 [==============================] - 0s 31ms/step - loss: 0.5930 - accuracy: 0.9118 - val_loss: 0.5045 - val_accuracy: 1.0000
Epoch 5/50
4/4 [==============================] - 0s 78ms/step - loss: 0.5791 - accuracy: 1.0000 - val_loss: 0.4915 - val_accuracy: 1.0000
Epoch 6/50
4/4 [==============================] - 0s 38ms/step - loss: 0.5657 - accuracy: 1.0000 - val_loss: 0.4769 - val_accuracy: 1.0000
Epoch 7/50
4/4 [==============================] - 0s 21ms/step - loss: 0.5523 - accuracy: 1.0000 - val_loss: 0.4622 - val_accuracy: 1.0000
Epoch 8/50
4/4 [==============================] - 0s 12ms/step - loss: 0.5395 - accuracy: 1.0000 - val_loss: 0.4480 - val_accuracy: 1.0000
Epoch 9/50
4/4 [==============================] - 0s 13ms/step - loss: 0.5266 - accuracy: 1.0000 - val_loss: 0.4346 - val_accuracy: 1.0000
Epoch 10/50
4/4 [==============================] - 0s 12ms/step - loss: 0.5135 - accuracy: 1.0000 - val_loss: 0.4216 - val_accuracy: 1.0000
Epoch 11/50
4/4 [==============================] - 0s 12ms/step - loss: 0.5007 - accuracy: 1.0000 - val_loss: 0.4078 - val_accuracy: 1.0000
Epoch 12/50
4/4 [==============================] - 0s 12ms/step - loss: 0.4875 - accuracy: 1.0000 - val_loss: 0.3936 - val_accuracy: 1.0000
Epoch 13/50
4/4 [==============================] - 0s 11ms/step - loss: 0.4735 - accuracy: 1.0000 - val_loss: 0.3803 - val_accuracy: 1.0000
Epoch 14/50
4/4 [==============================] - 0s 12ms/step - loss: 0.4596 - accuracy: 1.0000 - val_loss: 0.3665 - val_accuracy: 1.0000
Epoch 15/50
4/4 [==============================] - 0s 13ms/step - loss: 0.4453 - accuracy: 1.0000 - val_loss: 0.3524 - val_accuracy: 1.0000
Epoch 16/50
4/4 [==============================] - 0s 13ms/step - loss: 0.4308 - accuracy: 1.0000 - val_loss: 0.3388 - val_accuracy: 1.0000
Epoch 17/50
4/4 [==============================] - 0s 12ms/step - loss: 0.4165 - accuracy: 1.0000 - val_loss: 0.3255 - val_accuracy: 1.0000
Epoch 18/50
4/4 [==============================] - 0s 14ms/step - loss: 0.4019 - accuracy: 1.0000 - val_loss: 0.3122 - val_accuracy: 1.0000
Epoch 19/50
4/4 [==============================] - 0s 12ms/step - loss: 0.3879 - accuracy: 1.0000 - val_loss: 0.2988 - val_accuracy: 1.0000
Epoch 20/50
4/4 [==============================] - 0s 12ms/step - loss: 0.3737 - accuracy: 1.0000 - val_loss: 0.2863 - val_accuracy: 1.0000
Epoch 21/50
4/4 [==============================] - 0s 12ms/step - loss: 0.3597 - accuracy: 1.0000 - val_loss: 0.2737 - val_accuracy: 1.0000
Epoch 22/50
4/4 [==============================] - 0s 19ms/step - loss: 0.3459 - accuracy: 1.0000 - val_loss: 0.2615 - val_accuracy: 1.0000
Epoch 23/50
4/4 [==============================] - 0s 12ms/step - loss: 0.3322 - accuracy: 1.0000 - val_loss: 0.2496 - val_accuracy: 1.0000
Epoch 24/50
4/4 [==============================] - 0s 15ms/step - loss: 0.3186 - accuracy: 1.0000 - val_loss: 0.2385 - val_accuracy: 1.0000
Epoch 25/50
4/4 [==============================] - 0s 12ms/step - loss: 0.3056 - accuracy: 1.0000 - val_loss: 0.2279 - val_accuracy: 1.0000
Epoch 26/50
4/4 [==============================] - 0s 11ms/step - loss: 0.2927 - accuracy: 1.0000 - val_loss: 0.2174 - val_accuracy: 1.0000
Epoch 27/50
4/4 [==============================] - 0s 19ms/step - loss: 0.2797 - accuracy: 1.0000 - val_loss: 0.2072 - val_accuracy: 1.0000
Epoch 28/50
4/4 [==============================] - 0s 12ms/step - loss: 0.2675 - accuracy: 1.0000 - val_loss: 0.1978 - val_accuracy: 1.0000
Epoch 29/50
4/4 [==============================] - 0s 16ms/step - loss: 0.2552 - accuracy: 1.0000 - val_loss: 0.1885 - val_accuracy: 1.0000
Epoch 30/50
4/4 [==============================] - 0s 13ms/step - loss: 0.2433 - accuracy: 1.0000 - val_loss: 0.1793 - val_accuracy: 1.0000
Epoch 31/50
4/4 [==============================] - 0s 11ms/step - loss: 0.2316 - accuracy: 1.0000 - val_loss: 0.1704 - val_accuracy: 1.0000
Epoch 32/50
4/4 [==============================] - 0s 11ms/step - loss: 0.2207 - accuracy: 1.0000 - val_loss: 0.1618 - val_accuracy: 1.0000
Epoch 33/50
4/4 [==============================] - 0s 11ms/step - loss: 0.2099 - accuracy: 1.0000 - val_loss: 0.1537 - val_accuracy: 1.0000
Epoch 34/50
4/4 [==============================] - 0s 13ms/step - loss: 0.1994 - accuracy: 1.0000 - val_loss: 0.1461 - val_accuracy: 1.0000
Epoch 35/50
4/4 [==============================] - 0s 18ms/step - loss: 0.1890 - accuracy: 1.0000 - val_loss: 0.1388 - val_accuracy: 1.0000
Epoch 36/50
4/4 [==============================] - 0s 14ms/step - loss: 0.1791 - accuracy: 1.0000 - val_loss: 0.1320 - val_accuracy: 1.0000
Epoch 37/50
4/4 [==============================] - 0s 14ms/step - loss: 0.1695 - accuracy: 1.0000 - val_loss: 0.1256 - val_accuracy: 1.0000
Epoch 38/50
4/4 [==============================] - 0s 12ms/step - loss: 0.1602 - accuracy: 1.0000 - val_loss: 0.1194 - val_accuracy: 1.0000
Epoch 39/50
4/4 [==============================] - 0s 18ms/step - loss: 0.1518 - accuracy: 1.0000 - val_loss: 0.1134 - val_accuracy: 1.0000
Epoch 40/50
4/4 [==============================] - 0s 12ms/step - loss: 0.1431 - accuracy: 1.0000 - val_loss: 0.1076 - val_accuracy: 1.0000
Epoch 41/50
4/4 [==============================] - 0s 13ms/step - loss: 0.1358 - accuracy: 1.0000 - val_loss: 0.1023 - val_accuracy: 1.0000
Epoch 42/50
4/4 [==============================] - 0s 15ms/step - loss: 0.1283 - accuracy: 1.0000 - val_loss: 0.0972 - val_accuracy: 1.0000
Epoch 43/50
4/4 [==============================] - 0s 12ms/step - loss: 0.1212 - accuracy: 1.0000 - val_loss: 0.0923 - val_accuracy: 1.0000
Epoch 44/50
4/4 [==============================] - 0s 12ms/step - loss: 0.1148 - accuracy: 1.0000 - val_loss: 0.0875 - val_accuracy: 1.0000
Epoch 45/50
4/4 [==============================] - 0s 11ms/step - loss: 0.1084 - accuracy: 1.0000 - val_loss: 0.0832 - val_accuracy: 1.0000
Epoch 46/50
4/4 [==============================] - 0s 12ms/step - loss: 0.1026 - accuracy: 1.0000 - val_loss: 0.0790 - val_accuracy: 1.0000
Epoch 47/50
4/4 [==============================] - 0s 13ms/step - loss: 0.0972 - accuracy: 1.0000 - val_loss: 0.0751 - val_accuracy: 1.0000
Epoch 48/50
4/4 [==============================] - 0s 12ms/step - loss: 0.0919 - accuracy: 1.0000 - val_loss: 0.0715 - val_accuracy: 1.0000
Epoch 49/50
4/4 [==============================] - 0s 12ms/step - loss: 0.0870 - accuracy: 1.0000 - val_loss: 0.0680 - val_accuracy: 1.0000
Epoch 50/50
4/4 [==============================] - 0s 11ms/step - loss: 0.0824 - accuracy: 1.0000 - val_loss: 0.0648 - val_accuracy: 1.0000
1/1 [==============================] - 0s 24ms/step - loss: 0.0564 - accuracy: 1.0000
Test Loss: 0.056373417377471924, Test Accuracy: 1.0